.input-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-field {
    outline: none;
    border: 1px solid #B4B7BD;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 17px;
    text-align: left;
    font: normal normal 600 14px/19px "Nunito Sans";
    letter-spacing: 0px;
    opacity: 0.95;
}

.input-field::placeholder {
    font: normal normal 600 14px/19px "Nunito Sans";
    color: #8B8D9D;
}

.input-label {
    text-align: left;
    margin-top: 20px;
    font: normal normal 600 16px/22px "Nunito Sans";
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    margin-bottom: 10px;
}