.create-book-form {
    background-color: #FDFDFD;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    margin: 10px;
    padding: 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    /* margin-top: 120px; */
}

.create-book-form .form-input {
    width: 450px;
}

.form-button-book {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-book-form .form-button-book Button {
    margin-right: 10px;
    max-width: 150px;
    height: 35px;
    font: normal normal 600 16px/22px "Nunito Sans";
}

.shelf-input-container-div{
    width: 100%;
    margin-top: 30px;
    /* display: flex;
    flex-direction: row; */
}

.label-button-div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.shelf-input-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.half-size{
    width: 450px;
}

.add-shelf-button{
    background-color: #03aeee;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    color: white;
}

.delete-shelf-button{
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    box-shadow: 0px 3px 6px #c9c9c929;
    border: 1px solid #8a8c8f;
    color: #8a8c8f;
 
}

.shelves-text{
    margin-top: 5px;
}

.upload-box-container {
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upload-popup-title {
    font: normal normal 600 24px/32px "Nunito Sans";
    color: #121212;
    text-align: center;
}

.upload-popup-choose-file {
    margin: 0px;
    padding: 15px;
}

.upload-popup-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    gap: 10px;
}

.upload-popup-buttons Button{
    max-width: 150px;
    height: 35px;
    font: normal normal 600 16px/22px "Nunito Sans";
    padding: 8px 30px;
}