.primary-button {
    background-color: #03AEEE;
    border-radius: 3px;
    opacity: 1;
    border: none;
    color: white;
    height: 50px;
    width: 100%;
    margin-top: 50px;
    cursor: pointer;
    font: normal normal 600 16px/22px "Nunito Sans";
}