.button {
  height: 50px;
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
  font: normal normal 600 16px/22px 'Nunito Sans';
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.primary-button {
  background-color: #03aeee;
  border-radius: 3px;
  border: none;
  color: white;
}

.secondary-button {
  background-color: transparent;
  box-shadow: 0px 3px 6px #c9c9c929;
  border: 1px solid #8a8c8f;
  border-radius: 3px;
  color: #8a8c8f;
}

.library-button {
  background-color: #c3e9f8;
  border-radius: 20px;
  border: none;
  color: rgb(3, 103, 143);
  height: 34px;
  width: 132px;
  margin-top: 0px;

}

.notify-button {
  border-radius: 5px;
  border: none;
  margin-top: 0px;
  width: 227px;
  height: 51px;
  background-color: #F6F3D7;
  color: #E4BF3E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-history-button{
  background-color: #65c4ec;
  border-radius: 3px;
  border: none;
  color: white;
}

.logout-button{
  background-color: #f7931e;
  border-radius: 3px;
  border: none;
  color: white;
}

