.nav-item-dd {
    height: 60px;
    width: 280px;
    margin-left: 20px;
    background-color: #03AEEE;
    border-radius: 50px 0 0 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    /* z-index: 6; */
}

.nav-item-icon-container-dd {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-text-dd {
    font: normal normal bold 16px/22px "Nunito Sans";
    margin-left: 10px;
}

.nav-item-icon-dd{
    width: 20px;
    height: 20px;
}

.dropdown-content{
    height: 165px;
    width: 280px;
    margin-top: -20px;
    margin-left: 20px;
    background-color: #EAF9FF;
    border-radius: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    color: black;
}

.space-above{
    height: 20px;
}

.divider-line{
    height: 1px;
    background-color: #03AEEE;
    margin-left: 30px;
    margin-right: 30px;
}

.dd-options{
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 40px;
    cursor: pointer;
}

.down-arrow{
    position: absolute;
    right: 0;
    margin-right: 10px;
}