.shelf-input-field {
    outline: none;
    border: 1px solid #B4B7BD;
    height: 50px;
    width: 450px;
    border-radius: 5px;
    padding-left: 17px;
    text-align: left;
    font: normal normal 600 14px/19px "Nunito Sans";
    letter-spacing: 0px;
    opacity: 0.95;
    margin-top: 40px;
}