.shelf-card {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  height: 252px;
  width: 386px;
  border-radius: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
}

.shelf-card:hover {
  transform: translate(0, -10px);
}

.shelf-icon img {
  height: 193px;
  width: 163px;
}

.location-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}


.location-button > .button-lib {
  padding-bottom: 24px;
  padding-top: 49px;
  margin-bottom: 10px;
}

.location {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  padding: 14px 21px;
  font: 300 21px 'Open Sans', sans-serif;
  color: #676767;
}

.code {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  padding: 14px 21px;
  font: 300 19px 'Open Sans', sans-serif;
  color: #676767;
}
