.delete-poup-title {
    font: normal normal 600 24px/32px "Nunito Sans";
    color: #121212
}

.delete-employee-message {
    font: normal normal 600 18px/26px "Nunito Sans";
    color: #474748;
    max-width: 234px;
    word-wrap: normal;
    text-align: center;
}

.delete-employee-buttons {
    display: flex;
}

.delete-employee-buttons Button{
    margin-right: 10px;
    max-width: 150px;
    height: 35px;
    font: normal normal 600 16px/22px "Nunito Sans";
    margin-top: 10px;
    padding: 8px 30px;
}

.delete-spacing{
    height: 40px;
}