.book-main{
    /* margin-top: 20px; */
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 100;
    /* padding-top: 120px; */
    padding-bottom: 30px;
    overflow: scroll;
    height: calc(100% - 100px);
}

.book-card-main{
 margin: 20px;
}



.sub-option{
    background-color: blue;
    offset-position: right 100px;
}

