.notif-row-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    width: 100%;
    background-color: #03afee3a;
    border-radius: 5px;
}

.notif-row-container:hover {
    background-color: #03aeee;
    color: white;
}

.notif-row-icon {
    height: 18px;
    width: 18px;
}

.notif-row-content {
    font-size: small;
}

.notif-row-created-at {
    font-size: xx-small;
}

.notif-row-mark-read-container {
    font-size: small;
    cursor: pointer;
    position: absolute;
    right: 18px;
}