.select-div-library {
  width: 182px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
  background-color: #c3ecfb;
  border-radius: 5px;
  margin-top: 27px;
}

.select-field-library {
  height: 100%;
  width: 100%;
  background-color: #c3ecfb;
  border: none;
  padding-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal 600 16px/22px 'Nunito Sans';
  color: #337dd4;
  vertical-align: middle;
  text-align: center;
  text-align-last: center;
}

.select-field-library option {
  background-color: #c3ecfb;
}
