.select-div-library{
    width: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #C3ECFB
}

.select-field-library option{
    background-color: #C3ECFB;
}
