.bookData {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.book-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 292px;
  width: 203px;
  margin-top: 9px;
  padding: 20px 20px;
  object-fit: fill;
}

.book-image > img {
  height: 269px;
  width: 211px;
  border-radius: 8px;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  font: normal normal 600 17px/19px 'Nunito Sans';
  color: #676767;
  padding: 24px;
}

.book-details > div {
  padding: 10px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.popup-buttons {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
  font: normal normal 700 21px/19px 'Nunito Sans';
}

#author {
  padding-top: 3px;
  font: normal normal 600 18px/19px 'Nunito Sans';
}

#description {
  font: normal normal 300 17px/19px 'Nunito Sans';
  padding-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

#isbn {
  font: normal normal 400 16px/19px 'Nunito Sans';
  padding-top: 40px;
}

#avilability {
  padding-top: 19px;
}
