.bookData {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.book-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 292px;
  width: 203px;
  margin-top: 9px;
}

.book-image > img {
  height: 282px;
  width: 211px;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  font: normal normal 600 14px/19px 'Nunito Sans';
}

.book-details > div {
  padding: 10px;
  padding-left: 20px;
}

.book-count {
  width: 182px;
  height: 44px;
  background-color: #daf6d7;
  color: #59c064;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.popup-buttons {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
